name: Unit/Functional testing

on:
  push:
    branches:
      - master
  pull_request:


jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 6
      matrix:
        python-version: ["3.9", "3.10", "3.11", "3.12", "3.13", "3.14"]
      fail-fast: false

    steps:
    - uses: actions/checkout@v4

    - name: Set up uv
      # Install latest uv version using the installer
      run: curl -LsSf https://astral.sh/uv/install.sh | sh

    - name: Setup exiftool
      run: sudo apt-get -y install exiftool

    - name: Test with Python ${{ matrix.python-version }}
      run: uv run -p ${{ matrix.python-version }} pytest

